<div class="container topSpaceTitle">
  <div class="row justify-content-center">
    <h1>Search Article</h1>
  </div>
</div>
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3 topSpace">
      <input
        type="text"
        class="form-control "
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <!--<div class="col-md-6" *ngIf="articles.length>0"> -->
  <div class="col-md-6" *ngIf="articles">
    <h4>Article List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let article of articles; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveArticle(article, i)"
      >

        <b>Title:</b> {{ article.title }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentArticle">
      <h4>Article</h4>
      <div>
        <label><strong>ID:</strong></label>
        <a routerLink="/articles/{{ currentArticle.id }}">
          {{ currentArticle.id }}
        </a>
      </div>
      <div>
        <label><strong>Title:</strong></label> {{ currentArticle.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentArticle.articleAbstract }}
      </div>
      <a routerLink="/articles/{{ currentArticle.id }}">
        Details
      </a>
    </div>

  </div>


  <div class="col-md-12 topSpaceTitle" *ngIf="taggedArticles">
    <hr class="mt-2 mb-3"/>
    <div class="row justify-content-center">
    <h4>Tagged Articles</h4>
    </div>
    <table mdbTable>
      <thead>
      <tr>
        <th scope="col">Pubmed-ID</th>
        <th scope="col">Title</th>
        <th scope="col">Tag</th>
      </tr>
      </thead>
      <tbody>
      <tr mdbTableCol *ngFor="let taggedArticle of taggedArticles">
        <th scope="row">
          <a routerLink="/articles/{{taggedArticle.id}}">
            {{taggedArticle.id}}
          </a>
         </th>
        <td>{{taggedArticle.title}}</td>
        <td *ngFor="let tag of taggedArticle.tags; let isLast=last">
          <a href="{{tag.wiki_url}}">  {{tag.tagName}}{{isLast ? '' : ', '}}  </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
