<div>

  <div *ngIf="!currentArticle.title">
    <br/>
    <p>Cannot access this Article...</p>
  </div>


  <div>

    <div class="card" style="width: 38rem;">
      <div class="card-body">
        <h5 class="card-title">{{currentArticle.title}}</h5>
        <h6 class="card-subtitle mb-3 text-muted">Authors </h6>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item" *ngFor="let author of currentArticle.authors; let i = index"

          >
            {{author.foreName + " " + author.lastName}}
          </li>

        </ul>

        <p class="card-text">{{currentArticle.articleAbstract}}</p>
        <p class="card-text"> Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est
          non commodo luctus.</p>

        <form>
          <div class="form-group">

            <input
              type="text"
              class="form-control"
              id="tagSubmit"
              [(ngModel)]="currentArticle.title"
              name="title"
            />
          </div>
        </form>

        <button
          *ngIf="!currentArticle.published"
          class="btn btn-primary"
          (click)="updatePublished(true)"
        >
          Add tag
        </button>
        <!--
                <button class="badge badge-danger mr-2" (click)="deleteArticle()">
                  Delete
                </button>

                <button
                  type="submit"
                  class="badge badge-success mb-2"
                  (click)="updateArticle()"
                >
                  Update
                </button>
                -->
      </div>
    </div>


  </div>

</div>
