<div>

  <div *ngIf="!currentArticle.title">
    <br/>
    <p>Cannot access this Article...</p>
  </div>


  <div>

    <div class="card" style="width: 70rem;">
      <div class="card-body">
        <h5 class="card-title">{{currentArticle.title}}</h5>
        <h6 class="card-subtitle mb-3 text-muted">Authors </h6>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item" *ngFor="let author of currentArticle.authors; let i = index"

          >
            {{author.foreName + " " + author.lastName}}
          </li>

        </ul>

        <p class="card-text">{{currentArticle.articleAbstract}}</p>
        <h6 class="card-subtitle mb-3 text-muted">keywords </h6>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item" *ngFor="let keyword of currentArticle.keywords; let i = index"

          >
            {{keyword}}
          </li>

        </ul>

        <br>
        <h6 class="card-subtitle mb-3 text-muted" *ngIf="currentArticle.tags">Tags </h6>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item" *ngFor="let tag of currentArticle.tags"
          >
            <a href="{{tag.wiki_url}}"  > {{tag.tagName}}</a>

          </li>

        </ul>




      </div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
    <div class="card" style="width: 20rem;">
      <form>
        <div class="form-group">

          <input
            type="text"
            class="form-control"
            id="tagName"
            [(ngModel)]="tagName"
            name="tagName"
            placeholder="Tag name"
          />
          <input
            type="text"
            class="form-control"
            id="tagLink"
            [(ngModel)]="wikiURL "
            name="wikiURL"
            placeholder="URL to WikiData"
          />
        </div>
      </form>

      <button
        class="btn btn-primary"
        (click)="tagArticle()"
      >
        Add tag
      </button>
    </div>

    </div>
  </div>

</div>
